html {
  --primary1: #c5611f;
  --primary2: #d36b25;
  --primary3: #ff934b;
  --color1: #1f2123;
  --color2: #26282b;
  --color3: #2d2f32;
  --color4: #33373a;
  --color5: #3a3e41;
  --color6: #414549;
  --text-color1: #ffffff;
  --text-color2: #a6acb3;
  --text-color3: #6a6e72;

  --file-input__label-color: var(--text-color2);
  --file-input__btn-color: var(--text-color1);
  --file-input__btn-bg-color: var(--color2);
  --file-input__btn-border-color: var(--color4);
  --file-input__btn-bg-color--focus: var(--color4);
  --file-input__btn-border-color--focus: var(--color5);
  --file-input__btn-bg-color--hover: var(--primary1);
  --file-input__btn-border-color--hover: var(--primary2);
  --file-input__name-color: var(--text-color2);
  --file-input__name-color--focus: var(--text-color1);
  --file-input__name-bg-color: var(--color1);
  --file-input__name-border-color: var(--color4);
  --file-input__name-border-color--hover: var(--color5);
  --file-input__name-border-color--focus: var(--color5);

  background-color: var(--color1);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 13px;
}

body {
  margin: 0;
}

body.has-modal {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

@media (min-width: 800px) {
  #app {
    flex-direction: row;
  }
}

.logo-container {
  align-items: flex-end;
  display: flex;
  margin: 0 0 20px;
}

.logo {
  fill: var(--text-color1);
  height: 30px;
  margin: 0 5px 0 0;
}

.beta {
  fill: var(--primary3);
  height: 14px;
}

.column-1,
.column-2 {
  padding: 30px;
}

.column-1 {
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  width: 100%;
}

.column-2 {
  overflow: auto;
}

@media (min-width: 800px) {
  .column-1 {
    height: auto;
    max-width: 400px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .preview-images {
    grid-template-columns: repeat(3, 1fr);
  }
}

.controls {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
}

.controls > :nth-child(1) {
  margin: 0 0 10px;
}

@media (min-width: 600px) and (max-width: 800px) {
  .controls {
    display: flex;
    flex-direction: row;
  }

  .controls:nth-child(1) {
    margin: 0 0 20px;
  }

  .controls > :nth-child(1) {
    margin: 0 10px 0 0;
    width: 100%;
  }

  .controls > :nth-child(2) {
    margin: 0 0 0 10px;
    width: 100%;
  }
}

.buttons {
  display: flex;
}

.buttons > :nth-child(1) {
  margin: 0 10px 0 0;
}

.buttons > :nth-child(2) {
  width: 100%;
}

@media (min-width: 600px) and (max-width: 800px) {
  .buttons {
    display: flex;
    flex-direction: row;
  }

  .buttons:nth-child(1) {
    margin: 0 0 20px;
  }

  .buttons > :nth-child(1) {
    margin: 0 10px 0 0;
    width: 100%;
  }

  .buttons > :nth-child(2) {
    margin: 0 0 0 10px;
    width: 100%;
  }
}

#download-btn {
  display: block;
}

#download-btn svg {
  fill: inherit;
  height: 15px;
}

.btn {
  align-items: center;
  background-color: var(--color2);
  border: 1px solid var(--color3);
  border-radius: 3px;
  color: var(--text-color1);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 34px;
  padding: 0 14px;
}

.btn:disabled {
  color: var(--text-color3);
  pointer-events: none;
}

.btn:focus {
  background-color: var(--color4);
  border: 1px solid var(--color5);
  outline: none;
}

.btn:hover {
  background-color: var(--primary1);
  border: 1px solid var(--primary2);
}

.file-upload {
  min-width: 400px;
  position: relative;
}

.file-upload .file-input {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.file-upload .file-input .file-input-label {
  color: var(--text-color2);
  margin: 0 0 3px;
}

.file-upload .file-input .file-input-inner {
  align-items: center;
  display: flex;
}

.file-upload .file-input .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.file-upload .file-input input[type='file']:focus ~ .btn {
  background-color: var(--color4);
  border: 1px solid var(--color5);
  outline: none;
}

.file-upload .file-input input[type='file'] ~ .btn:hover {
  background-color: var(--primary1);
  border: 1px solid var(--primary2);
}

.file-upload .file-input input[type='file'] {
  opacity: 0;
  position: absolute;
  width: 0;
}

.file-upload .name {
  align-items: center;
  background-color: var(--color1);
  border: 1px solid var(--color4);
  border-right: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  color: var(--text-color2);
  display: flex;
  flex-grow: 1;
  font-size: 1rem;
  height: 34px;
  line-height: 0.8rem;
  margin: 0;
  padding: 0 10px;
}

.file-upload .file-input input[type='file']:focus ~ .name {
  border: 1px solid var(--color6);
  outline: none;
}

.text-input {
  display: flex;
  flex-direction: column;
}

.text-input label {
  color: var(--text-color2);
  margin: 0 0 3px;
}

.text-input input {
  align-items: center;
  background-color: var(--color1);
  border: 1px solid var(--color4);
  border-radius: 3px;
  color: var(--text-color1);
  display: flex;
  font-size: 1rem;
  height: 34px;
  margin: 0;
  padding: 0 10px;
}

.text-input input:focus {
  border: 1px solid var(--color5);
  outline: none;
}

.preview-images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 600px) {
  .preview-images {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) {
  .preview-images {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 900px) {
  .preview-images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .preview-images {
    grid-template-columns: repeat(3, 1fr);
  }
}

.preview-image {
  background-color: var(--color2);
  border: 1px solid var(--color4);
  border-radius: 3px;
  margin: 0 0 40px;
  overflow: hidden;
}

.preview-image .img {
  margin: 0;
  width: 100%;
}

.preview-image .text {
  color: var(--text-color1);
  font-size: 1rem;
  margin: 0;
  padding: 8px 10px 10px;
}
